<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Contact US</button>
 <!-- Modal -->
 <div class="modal fade" id="myModal" role="dialog">
 <div class="modal-dialog">
 <!-- Modal content-->
 <div class="modal-body">
   <div class = "container-fluid">
     <div class= 'justify-center'>
       <div class="mx-auto">
         <%=image_tag("logo2.png", alt: "Example Image", id: 'modal_img', class: "img-fluid")%>
       </div>
     </div>
   </div>
  <%= render "messages/form"%>
   <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>
</div>
</div>
</div>
