<div class = "additional_resources">
<h1>Other Resources: </h1>

<p>
In addition to the listings that I have posted, I encourage you to look at these
other resources. If you see anything you like let me know!
</p>
  <ul>
    <li><a href = "https://www.realtor.com/"> Realtor.com </a></ll>
    <li><a href = "https:http://www.mls.com/"> Multiple Listing Service </a></ul>
  </ul>
</div>
