<br>
<div class = "additional_resources">
<h1 class = "other_resources">Other Resources: </h1>
<br>
<div class = "container-fluid">
<div class = "col-lg-6">
In addition to the listings that I have posted, I encourage you to look at these
other resources. If you see anything you like let me know!


  <ul>
    <li><a href = "https://www.realtor.com/"> Realtor.com </a></ll>
    <li><a href = "http://www.mls.com/"> Multiple Listing Service </a></ll>
    <li><a href = "http://www.zillow.com/"> Zillow</a></ll>
    <li><a href = "https://www.trulia.com/"> Trulia </a></ll>
    <li><a href = "https://www.redfin.com/"> Redfin </a></ll>

  </ul>
</div>
</div>
</div>
