<div class = "container">
  <div class = "row">
    <%@zpids.each do |zpid|%>
      <%property = Rubillow::HomeValuation.zestimate({ :zpid => zpid.zpid})%>
      <%if property.success?%>
      <ul class="col-lg-4 zillow_listings">
        <li><%=image_tag("zillow/laurel_plan.jpg", class: "img_responsive", id: "zillow_image") %></li>
          <%property.address.each do |key, value|%>
        <li> <%="#{key}: #{value}"%></li>
          <%end%>
        <li><%=property.region_type %></li>
          <%link = property.links.first%>
          <%= link_to "Click here for the full listing",link[1], :target => "_blank" %>

      </ul>
        <% end %>
      <% end %>
  </div>
</div>
