
<div class= "listing_info">
  <%= bootstrap_form_for @zpid do |f| %>
  <div class = "container-fluid">
    <div class = "row">

    <ul class = col-lg-4>
      <li> <%= f.text_field :zpid, label: "Enter Zpid"  %></li>
      <li>   <%= f.submit "Create", id: "zpid_button" %> </li>

    </ul>
    </div>
    </div>


  <% end %>
</div>
