/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    color: white !important;
}

.all_body {
    background-color: #4D5259;
}

.background_image {
    background-image: url(homepage_pic.png);
    min-height: 400px;
    background-size: cover;
    position: relative;
    background-position: 4px, 30px;
}



.main_links {
    position: relative;
    bottom: 70px;
    font-style: bold;
    font-family: Arial
}

.listingsection {
    height: auto;
    border-width: 11px;
    border: 13px double white;
    background-color: #496D69;
}

.simple_search {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin: auto;
    width: 450px;
    height: 40px;
    text-align: center;
    color: black;
}

.welcome_title {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
}

.search_link {
    position: absolute;
    left: 56pc;
    top: 3pc;
}

.listing li {}

#search {
    zoom: 1.5;
    position: relative;
    width: 200px;
    color: black;
}

.row {}

#search_button {
    position: relative;
    height: 40px;
    top: -4px;
    color: black;
    width: 100px;
}

.about_me {
    color: white;
    margin-top: 200px;
}

.dave1 {
    text-align: center;
}

#dave_1 {
    max-width: 300px;
    margin: auto;
    border: 10px double white;
    padding: 4px;
    background: black;
    margin-top: 30px;
    border-radius: 92%;
}

#main_listing_photo {
    width: 200px;
    border: 3px solid #021a40;
    padding: 2px;
}

#all_photos {
    position: relative;
    width: 175px;
    height: 175px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #021a40;
}

#listing_photos {
  position: relative;
  width: 175px;
  height: 175px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #021a40;
  margin: 6px;
}

.main_title {
    text-align: center;
    position: absolute;
    top: 60px;
    left: 400px;
}

._link {
    position: absolute;
    left: 56pc;
}

#logo {
    width: 100%;
    max-width: 100px;
    margin: auto;
}

#header {
    margin-top: 15px;
    max-width: 100%;
    margin: auto;
    background-color: #4D5259 !important;
}

.links>li {
    float: left;
    padding: 7px;
    font-family: Arial
}

.admin_link {
    position: relative;
    float: right;
    bottom: 48px;
    right: 51px;
}

.admin {}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    color: white !important;
}

#listing_description {
    width: 500px;
    height: 100px;
}

#header>div>div:nth-child(1), #header>div>div:nth-child(3) {
    margin-top: 25px;
}

ul {
    list-style-type: none;
}

.new_registration_input {
    padding: 3px;
}

.string.required {
    margin-right: 10px;
}

.tel.required {
    margin-right: 10px;
}

.email.required {
    margin-right: 10px;
}

.password.required {
    margin-right: 10px;
}

.registration_title {
    text-align: center;
}

.sign_up {
    position: relative;
    left: 40%;
    top: 53px;
}

.log_in {
    position: relative;
    left: 43%;
    top: 12%;
}

.log_in_title {
    position: relative;
    left: 43%;
}

.new_form {
    border-style: double;
    height: 399px;
    border-width: 12px;
    position: relative;
    top: 100px;
}

.additional_resources {
    border-style: double;
    position: absolute;
    top: 269px;
    padding: 20px;
    margin-right: 50px;
}

.admin_page {
    position: relative;
    top: 120px;
}

.searches {
    border-style: double;
    background-color: #4D5259;
    border-width: 10px;
    width: 616px;
    position: relative;
    left: 25%;
    top: 78px;
}

.advanced_search_input {
    margin-top: 25px;
    color: black;
}

.adv_sea {
    color: white;
    margin-right: 10px;
}

label {
    margin-right: 10px;
}

.advanced_title {
    position: relative;
    text-align: center;
}

.listings_border {
    border-style: double;
}

.no_results {
    position: relative;
    right: 260px;
    top: 16px;
}
.review{
  border-style: double;
width: 10%;
margin-right: 8%;
}
.submit {
  color:black;
}
}
.maps {
    float: right;
    position: absolute;
    left: 48%;
    bottom: -55px;
}
#like {
  color: black;
}

#dislike {
  color: black;
}

#user_email {
    color: black
}

#user_password {
    color: black;
}

#user_first_name {
    color: black;
}

#user_last_name {
    color: black;
}

#user_phone_number {
    color: black;
}

#user_password_confirmation {
    color: black;
}

#listing_street_address {
    color: black;
}

#listing_state {
    color: black;
}

#listing_town {
    color: black;
}

#listing_zipcode {
    color: black;
}

#listing_number_of_bathrooms {
    color: black;
}

#listing_number_of_bedrooms {
    color: black;
}

#listing_square_footage {
    color: black;
}

#listing_asking_price {
    color: black;
}

#listing_house_style {
    color: black;
}

#listing_description {
    color: black;
}

#add_listing_homepage {
    left: 41%;
    position: relative;
    bottom: 46px;
}

.container-fluid {
    padding: 0;
}

.about_section {
    position: relative;
    background-color: #4D5259;
}

.listing_description {
    word-wrap: break-word;
}
