/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    color: white !important;
    background-color: #4D5259 !important;
}


.background_image {
    background-image: url(homepage_pic.png);
    min-height: 400px;
    background-size: cover;
    position: relative;
    background-position: 4px, 30px;
}

.contact {
      text-align: center;
}
iframe {
  border: 0;
width: 500px;
height: 247px;
bottom: 182px;
position: relative;
right: 134px;
}

.main_links {
    position: relative;
    bottom: 70px;
    font-style: bold;
    font-family: Arial
}
.add_listing {
  position: relative;
bottom: 200px;
margin: 42px;
}


.listingsection {
    height: auto;
    border: 13px double white;
    background-color: #496D69;
    margin-top: 22px;
}
.contact-form{
position: relative;
margin-top: 15px;
border-style:double;
border-width:13px;
width:auto;
background-color: #496D69;
}
.message_form{
position: relative;
left: 29%;
margin-top: 6%;
}
.simple_search {
    position: absolute;
margin-top: 100px;

}

.listing-info {
      margin-top: 40px;
}
.listing_results{
  margin-left: 40px;
margin-top: 41px;
}
.welcome_title {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    font-size: 45px;
    z-index: 1;
}

.search_link {
    position: absolute;
    left: 56pc;
    top: 3pc;
}
.search {
      background-color: #496D69;

}


#search {
    zoom: 1.5;
    color: black;
    width: 335px;
        right: -201px;
}

#search_button {
  height: 35px;
  margin-top: 175px;
  color:black;
}

#search_form {
text-align:center;
}

.about_me {
    color: white;
    margin-top: 200px;
    font-size: 28px;
    font-family: serif;
    position: relative;
    margin-top: 110px;
}

.listing_info{
  height: auto;
  border: 13px double white;
  background-color: #496D69;
  margin-top: 22px;
}
.post_by{
  float:right;
}
.dave_info{
  position: relative;
left: 31%;
width:auto;
margin-top: 10px;
}
#facebook {
  float: left;
width: 34px;
margin-top: 7px;
margin-left: 0px;
margin-right: 9px;
}
#dave_1 {
  max-width: 300px;
  margin: auto;
  border: 10px double white;
  padding: 4px;
  background: black;
  border-radius: 92%;
  margin-left: 263px;
  position: relative;
  top: -32px;
}

#main_listing_photo {
    width: 200px;
    border: 3px solid #021a40;
    padding: 2px;
}
.btn {
  color:black
}
#all_photos {
    position: relative;
    width: 175px;
    height: 175px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #021a40;
    cursor:zoom-in;
}

#listing_photos {
  position: relative;
  width: 175px;
  height: 175px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #021a40;
  margin: 1px;
}
.pics {
margin-left: 15px;
margin-top: 124px;
}
.main_title {
    text-align: center;
    position: absolute;
    top: 60px;
    left: 400px;
}

._link {
    position: absolute;
    left: 56pc;
}

#logo {
  max-width: 248px;
  margin: auto;
  width: 248px;

}

#one_homes {
  max-width: 248px;
      margin: auto;
      width: 248px;
      left: 40%;
      float: left;
      margin-top: 24px;
  }


#header {
    margin-top: 15px;
    max-width: 100%;
    margin: auto;
    background-color: #4D5259 !important;
}

.links>li {
    float: left;
    padding: 7px;
    font-family: Arial
}

.admin_link {
    position: relative;
    float: right;
    bottom: 48px;
    right: 51px;
}


a {
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    color: white !important;
}

.listing_description {
  width: 55%;
}

#header>div>div:nth-child(1), #header>div>div:nth-child(3) {
    margin-top: 25px;
}

ul {
    list-style-type: none;
}


.string.required {
    margin-right: 10px;
}

.tel.required {
    margin-right: 10px;
}

.email.required {
    margin-right: 10px;
}

.password.required {
    margin-right: 10px;
}

.registration_title {
    text-align: center;
}

.sign_up {
    position: relative;
    left: 40%;
    top: 53px;
}

.log_in {
    position: relative;
    left: 43%;
    top: 12%;
}

.log_in_title {
    position: relative;
    left: 43%;
}

.new_form {
    border-style: double;
    height: 399px;
    border-width: 13px;
    position: relative;
    top: 19px;
}

.other_resources {
      margin: 24px;
}

.additional_resources {
  border-style: double;
  border-width:13px;
width: auto;
margin: 30px;
    background-color: #496D69;
}

.admin_page {
    position: relative;
    top: 120px;
}

.searches {
    border-style: double;
    background-color: #4D5259;
    border-width: 13px;
    width: 616px;
    position: relative;
    left: 21%;
    top: 28px;
    margin-bottom: 35px;
}


.advanced_search_input {
    margin-top: 25px;
    color: black;
}

.adv_sea {
    color: white;
    margin-right: 10px;
}

label {
    margin-right: 10px;
}

.advanced_title {
    position: relative;
    text-align: center;
}

.listings_border {
    border-style: double;
}


.review{
width: 10%;
margin-right: 8%;
}
.submit {
  color:black;
}

.maps {
position: absolute;
left: 56%;
top: 234px;
}

.dropdown-menu {
  background-color: #44484F !important;
}

.dropdownn li {
  border-style: groove;
padding: 13px;
margin-left: -38px;
}

#dropdownMenuButton {
    background-color: #44484F;
    padding: 0px;

}

#threelines {
  width: 44px;
}

#like,#dislike, #user_email,user_password, #user_first_name,#user_last_name,
#user_phone_number,#user_password_confirmation,#listing_street_address,#listing_state,
#listing_town,#listing_zipcode,#listing_number_of_bathrooms,#listing_number_of_bedrooms,
#listing_square_footage,#submit,#listing_asking_price,#listing_house_style,#create,#review_description,
#listing_description, #user_password,#message_button, #message_name, #message_email, #message_phone_number, #message_body {

  color: black;
}


#add_listing_homepage {
    left: 41%;
    position: relative;
    bottom: 46px;
}

.reviews {
      margin-top: 32px;
      border-style:double;
      border-width:13px;
      width: auto;
      background-color: #496D69;
}

.review_description{
  color:white;
}
#search_house_style, #search_street_address,#search_state,#search_town,#search_zipcode,
#search_number_of_bathrooms,#search_number_of_bedrooms,
#search_square_footage,#search_min_price,#search_max_price {
  color:black;
}
.container-fluid {
    padding: 0;
}

.about_section {
    position: relative;
    background-color: #4D5259;
}

.listing_description {
    word-wrap: break-word;
}
