/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
  background-color: #4D5259 !important;
  color: white !important;

 }

 .background_image {
   background-image: url(homepage_pic.png);
   min-height: 400px;
   background-size: cover;
   position: relative;
 }

.my_listings{
  position: absolute;
  top: 1250px;
  margin-left: 40%;
}

 .main_links {
  position: relative;
  bottom: 70px;
  font-style: bold;
  font-family: Arial
}

.listing {
position: absolute;
top: 1500px;
}

.simple_search {
  position: absolute;
      left: 0;
      top: 110%;
      transform: translateY(-50%);
      right: 0;
      margin: auto;
      width: 190px;
    height: 40px;
    text-align: center;
    color: black;
}
.search_link {
position: absolute;
left: 56pc;
top: 3pc;
}

#search {
  width: 160px;
}
#search_button {
  position: absolute;
left: 184px;
height: 28px;
}
.about_me {
  float: left;
  width: 550px;
  margin-top: 145px;
  height: 493px;
  color: white;
  font-size: 19px;
  margin-left: 46px;
}
#dave_1 {
  width: 550px;
  height: auto;
  float: right;
  right: 50px;
  position: relative;
  border: 10px solid white;
  padding: 4px;
  background: black;
  top: 148px;
}

#main_listing_photo{
  width: 200px;
  border: 3px solid #021a40;
  padding: 2px;
}

#all_photos {
  position: relative;
      width: 175px;
      height: 175px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border: 3px solid #021a40;

    }
.main_title {
      text-align: center;
      position: absolute;
      top: 60px;
      left: 400px;
}
.about_me_link {
  position: absolute;
left: 56pc;
}
#logo{
  width: 100%;
max-width:100px;
margin: auto;
}
#header{
  margin-top: 15px;
  max-width: 1200px;
  margin: auto;
}
.links>li{
  float: left;
  padding: 7px;
  font-family: Arial
}

.admin_link {
position: absolute;
bottom: 0pt;
right: 0pt;
}
a {
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  color: white !important;
}


#listing_description{
  width: 500px;
  height: 100px;
}
#header>div>div:nth-child(1),#header>div>div:nth-child(3){
    margin-top: 25px;
}

ul {
  list-style-type: none;
}

.new_registration_input {

  padding: 3px;
}


.string.required{
  margin-right: 10px;
}
.tel.required{
  margin-right: 10px;

}
.email.required{
  margin-right: 10px;

}

.password.required{
  margin-right: 10px;

}
.registration_title {
  text-align: center;
}

.sign_up {
  position: relative;
  left: 40%;
  top: 53px;

}

.log_in {
  position: relative;
  left: 43%;
  top: 12%;
}

.log_in_title {
  position: relative;
  left: 43%;
}
.new_form{
  border-style: double;
height: 399px;
border-width: 12px;
}

#user_email{
  color:black
}
#user_password{
  color:black;
}
#user_first_name{
  color:black;
}
#user_last_name{
  color:black;
}
#user_phone_number{
  color:black;
}
#user_password_confirmation{
  color:black;
}
